In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from shapely.geometry import Point
import fiona

print("Loaded libraries successfully.")

Loaded libraries successfully.

In [ ]:
# take in paths for files (gedi and prodes)
# NOTE: geojson for Para taken from: https://github.com/giuliano-macedo/geodata-br-states/blob/main/geojson/br_states/br_pa.json?short_path=3db5bcb
# geojson is used to get the gedi data only for Para state in VegMapper/gedi/gedi_l2a_arset.ipynb

gedi = input("Enter path to GEDI file (.csv): ")
prodes = input("Enter path to PRODES file (.gpkg): ")

lat_col, lon_col = 'latitude', 'longitude'  # specify the column names for latitude and longitude

gedi_df = pd.read_csv(gedi)
prodes_df = gpd.read_file(prodes)

/Users/akshatk/miniconda3/lib/python3.13/site-packages/pyogrio/geopandas.py:275: UserWarning: More than one layer found in 'prodes_amazonia_legal.gpkg': 'accumulated_deforestation_2007' (default), 'hydrography', 'yearly_deforestation', 'no_forest', 'residual'. Specify layer parameter to avoid this warning.
  result = read_func(

In [ ]:
# geopandas doesn't load all layers by default, so we need to read each layer and concatenate ü§¶‚Äç‚ôÇÔ∏è

layers = fiona.listlayers(prodes)
print(f"Available layers in GPKG: {layers}")

all_prodes_layers = []
for layer in layers:
    print(f"Reading layer: {layer}")
    layer_gdf = gpd.read_file(prodes, layer=layer)
    layer_gdf['layer_source'] = layer  # add a column to identify the source
    all_prodes_layers.append(layer_gdf)

prodes_df = gpd.GeoDataFrame(pd.concat(all_prodes_layers, ignore_index=True))
print(f"Main class values: {prodes_df['main_class'].unique()}")

Available layers in GPKG: ['accumulated_deforestation_2007', 'hydrography', 'yearly_deforestation', 'no_forest', 'residual']
Reading layer: accumulated_deforestation_2007
Reading layer: hydrography
Reading layer: yearly_deforestation
Reading layer: no_forest
Reading layer: residual
Main class values: ['DESMATAMENTO' 'HIDROGRAFIA' 'NAO_FLORESTA' 'RESIDUO']

In [10]:
# print all states in prodes_df
print("States in PRODES data:", prodes_df['state'].unique()) 

# get number of rows for each state
state_counts = prodes_df['state'].value_counts()
print("Number of rows for each state in PRODES data:\n", state_counts)

# chose "AC" (Acre) as state to test histograms on since it had 24k rows of data
acre_prodes = prodes_df[prodes_df['state'] == 'AC']

States in PRODES data: ['RR' 'PA' 'AM' 'MA' 'MT' 'TO' 'AC' 'RO' 'AP' 'MS']
Number of rows for each state in PRODES data:
 state
PA    480247
AM    165529
MT    134322
AC    103564
RO    102472
MA     81719
RR     53108
AP     19078
TO      9986
MS         2
Name: count, dtype: int64

In [12]:
for layer in layers:
    print(f"\nReading '{layer}':")
    with fiona.open(prodes, layer=layer) as lyr:
        print(lyr.schema)
        print(f"CRS is: {lyr.crs}")

Reading 'accumulated_deforestation_2007':
{'properties': {'state': 'str:99', 'path_row': 'str:20', 'main_class': 'str:255', 'class_name': 'str:255', 'def_cloud': 'float', 'julian_day': 'int32', 'image_date': 'date', 'year': 'float', 'area_km': 'float', 'scene_id': 'int32', 'source': 'str:50', 'satellite': 'str:50', 'sensor': 'str:50', 'uuid': 'str'}, 'geometry': 'Unknown'}
CRS is: EPSG:4674

Reading 'hydrography':
{'properties': {'state': 'str:99', 'path_row': 'str:20', 'main_class': 'str:255', 'class_name': 'str:255', 'def_cloud': 'float', 'julian_day': 'int32', 'image_date': 'date', 'year': 'float', 'area_km': 'float', 'scene_id': 'int32', 'source': 'str:50', 'satellite': 'str:50', 'sensor': 'str:50', 'uuid': 'str'}, 'geometry': 'Unknown'}
CRS is: EPSG:4674

Reading 'yearly_deforestation':
{'properties': {'state': 'str:99', 'path_row': 'str:20', 'main_class': 'str:255', 'class_name': 'str:255', 'sub_class': 'str:255', 'def_cloud': 'float', 'julian_day': 'int32', 'image_date': 'date', 'year': 'float', 'area_km': 'float', 'scene_id': 'int32', 'source': 'str:50', 'satellite': 'str:50', 'sensor': 'str:50', 'uuid': 'str'}, 'geometry': 'Unknown'}
CRS is: EPSG:4674

Reading 'no_forest':
{'properties': {'state': 'str:99', 'path_row': 'str:20', 'main_class': 'str:255', 'class_name': 'str:255', 'def_cloud': 'float', 'julian_day': 'int32', 'image_date': 'date', 'year': 'float', 'area_km': 'float', 'scene_id': 'int32', 'source': 'str:50', 'satellite': 'str:50', 'sensor': 'str:50', 'uuid': 'str'}, 'geometry': 'Unknown'}
CRS is: EPSG:4674

Reading 'residual':
{'properties': {'state': 'str:99', 'path_row': 'str:20', 'main_class': 'str:255', 'class_name': 'str:255', 'def_cloud': 'float', 'julian_day': 'int32', 'image_date': 'date', 'year': 'float', 'area_km': 'float', 'scene_id': 'int32', 'source': 'str:50', 'satellite': 'str:50', 'sensor': 'str:50', 'uuid': 'str'}, 'geometry': 'Unknown'}
CRS is: EPSG:4674

In [13]:
# Convert GEDI points into GeoDataFrame for spatial operations
gedi_gdf = gpd.GeoDataFrame(
    data = gedi_df,
    geometry = gpd.points_from_xy(gedi_df.longitude, gedi_df.latitude),
    crs = "EPSG:4674"  # CHANGE THIS BASED ON GEDI DATA CRS (above)
)

# Ensure both GeoDataFrames use the same CRS
if gedi_gdf.crs != acre_prodes.crs:
    print(f"The CRS of the GEDI data {gedi_gdf.crs} does not match the PRODES data CRS {acre_prodes.crs}")
    gedi_gdf = gedi_gdf.to_crs(acre_prodes.crs)
    print(f"Transformed GEDI data to CRS of PRODES data: {gedi_gdf.crs}")

In [14]:
# First few rows of new gedi GeoDataFrame (converted from CSV)
gedi_gdf.head()

,source_url,beam,shot_number,latitude,longitude,rh25,rh50,rh75,rh95,sensitivity,solar_elevation,geometry
0,https://harmony.earthdata.nasa.gov/service-res...,BEAM0101,338350500100046529,-7.443723,-73.928047,10.03,19.99,22.31,24.78,0.972721,35.823444,POINT (-73.92805 -7.44372)
1,https://harmony.earthdata.nasa.gov/service-res...,BEAM0101,338350500100046530,-7.443301,-73.927743,13.25,20.02,23.02,25.98,0.978348,35.823600,POINT (-73.92774 -7.4433)
2,https://harmony.earthdata.nasa.gov/service-res...,BEAM0101,338350500100046531,-7.442881,-73.927440,4.26,9.06,14.52,20.47,0.973001,35.823753,POINT (-73.92744 -7.44288)
3,https://harmony.earthdata.nasa.gov/service-res...,BEAM0101,338350500100046532,-7.442461,-73.927137,6.70,10.48,19.31,30.69,0.976818,35.823906,POINT (-73.92714 -7.44246)
4,https://harmony.earthdata.nasa.gov/service-res...,BEAM0101,338350500100046533,-7.442040,-73.926834,6.40,13.02,17.25,26.01,0.946995,35.824060,POINT (-73.92683 -7.44204)

In [15]:
# First few rows of Acre PRODES data
acre_prodes.head()

,state,path_row,main_class,class_name,def_cloud,julian_day,image_date,year,area_km,scene_id,source,satellite,sensor,uuid,geometry,layer_source,sub_class
46,AC,00566,DESMATAMENTO,d2007,0.0,0.0,NaT,2007.0,0.000057,0.0,None,None,None,f5b6c3f0-c713-418f-969c-3d82ad96747f,"MULTIPOLYGON (((-72.40155 -8.94368, -72.40151 ...",accumulated_deforestation_2007,NaN
64,AC,00665,DESMATAMENTO,d2007,0.0,0.0,NaT,2007.0,23.322735,0.0,None,None,None,77f4d1db-27d3-49c6-9d74-0e65d2274766,"MULTIPOLYGON (((-73.63409 -7.46974, -73.63409 ...",accumulated_deforestation_2007,NaN
104,AC,00267,DESMATAMENTO,d2007,0.0,0.0,NaT,2007.0,0.000092,0.0,None,None,None,060e7351-5b30-433c-988d-18ffa3a52032,"MULTIPOLYGON (((-68.43083 -9.49863, -68.4308 -...",accumulated_deforestation_2007,NaN
107,AC,00466,DESMATAMENTO,d2007,0.0,0.0,NaT,2007.0,0.007055,0.0,None,None,None,2f40356d-3bf6-4c88-9d0e-0b3f5408361c,"MULTIPOLYGON (((-70.89457 -8.19909, -70.89457 ...",accumulated_deforestation_2007,NaN
108,AC,00566,DESMATAMENTO,d2007,0.0,0.0,NaT,2007.0,0.000639,0.0,None,None,None,8174cbea-5625-47ce-92a8-06fda7e9e2ef,"MULTIPOLYGON (((-72.74963 -8.30158, -72.74963 ...",accumulated_deforestation_2007,NaN

In [16]:
# Match GEDI points to PRODES polygons
matched_gdf = acre_prodes.sjoin(
    gedi_gdf,
    how="inner",
    predicate="contains" # checks that the prodes polygon contains the gedi point in it
)

In [17]:
# Get some statistics
print("Total number of GEDI points in Acre:", len(gedi_gdf))
print("Total number of PRODES polygons in Acre:", len(acre_prodes))
print("Total number of matched pairs (aka rows in matched_gdf):", len(matched_gdf))
print("The different land cover types in matched dataset: ", matched_gdf['main_class'].unique())
print(f"Columns in the matched dataset: \n{matched_gdf.columns.tolist()}")

Total number of GEDI points in Acre: 118491
Total number of PRODES polygons in Acre: 103564
Total number of matched pairs (aka rows in matched_gdf): 8584
The different land cover types in matched dataset:  ['DESMATAMENTO' 'HIDROGRAFIA' 'NAO_FLORESTA' 'RESIDUO']
Columns in the matched dataset:
['state', 'path_row', 'main_class', 'class_name', 'def_cloud', 'julian_day', 'image_date', 'year', 'area_km', 'scene_id', 'source', 'satellite', 'sensor', 'uuid', 'geometry', 'layer_source', 'sub_class', 'index_right', 'source_url', 'beam', 'shot_number', 'latitude', 'longitude', 'rh25', 'rh50', 'rh75', 'rh95', 'sensitivity', 'solar_elevation']

In [23]:
# For each column print its name and the unique values
for col in matched_gdf.columns:
    unique_vals = matched_gdf[col].unique()
    print(f"Column '{col}' has {len(unique_vals)} unique values: {unique_vals if len(unique_vals) < 10 else unique_vals[:10]} \n")

Column 'state' has 1 unique values: ['AC']

Column 'path_row' has 24 unique values: ['00267' '00366' '00367' '00268' '00466' '00565' '00465' '00566' '00167'
 '00266']

Column 'main_class' has 4 unique values: ['DESMATAMENTO' 'HIDROGRAFIA' 'NAO_FLORESTA' 'RESIDUO']

Column 'class_name' has 32 unique values: ['d2007' 'HIDROGRAFIA' 'd2024' 'd2022' 'd2023' 'd2014' 'd2016' 'd2018'
 'd2013' 'd2011']

Column 'def_cloud' has 6 unique values: [   0.   nan 2011. 2009. 2020. 2018.]

Column 'julian_day' has 59 unique values: [  0. 209. 211. 242. 229. 230. 236. 212. 235. 202.]

Column 'image_date' has 116 unique values: <DatetimeArray>
[                'NaT', '2024-07-27 00:00:00', '2024-07-29 00:00:00',
 '2022-08-30 00:00:00', '2022-08-17 00:00:00', '2023-08-18 00:00:00',
 '2022-08-24 00:00:00', '2022-07-31 00:00:00', '2022-08-23 00:00:00',
 '2022-07-21 00:00:00']
Length: 10, dtype: datetime64[ms]

Column 'year' has 18 unique values: [2007. 2024. 2022. 2023. 2014. 2016. 2018. 2013. 2011. 2017.]

Column 'area_km' has 1343 unique values: [2.38402853e+02 1.09509121e+02 7.28566594e+01 1.31908545e+03
 4.91796848e+01 2.82102674e-02 7.04566137e-03 2.06935685e+02
 1.22081316e+03 3.50588811e-02]

Column 'scene_id' has 151 unique values: [   0. 2530. 2323. 1465. 1425. 1806. 1435. 1402. 1438. 1579.]

Column 'source' has 2 unique values: [None 'Amazonia']

Column 'satellite' has 3 unique values: [None 'Sentinel-2' 'Landsat']

Column 'sensor' has 3 unique values: [None 'MSI' 'OLI']

Column 'uuid' has 1343 unique values: ['67625199-66ca-45f0-aa9e-2086c4870d55'
 '6cc6adc3-9e80-4cb1-82a3-b3c8b7b18cc5'
 'e5689714-270f-4a76-8d53-d3a19043ed6e'
 '28bbce47-8237-4633-a2f5-8bdcf092015f'
 'a6ddf4f0-9bac-4879-9a5f-2b9f6f36d964'
 '0d3795ce-fedb-488a-9732-6eaf877e3306'
 '6ed896ae-2c38-4fdf-b604-7580501cdb6e'
 '7e689065-f226-4da0-b7ca-758851112fae'
 'bd2cf89a-9d55-4be5-8ceb-d43ba136655c'
 'e67cd177-7013-4f06-8043-089476b91dce']

Column 'geometry' has 1343 unique values: <GeometryArray>
[<MULTIPOLYGON (((-68.301 -9.677, -68.301 -9.677, -68.301 -9.677, -68.3 -9.67...>,
 <MULTIPOLYGON (((-69.004 -8.993, -69.004 -8.993, -69.004 -8.993, -69.003 -8....>,
 <MULTIPOLYGON (((-69.289 -10.759, -69.289 -10.759, -69.288 -10.759, -69.288 ...>,
 <MULTIPOLYGON (((-69.005 -11.005, -69.005 -11.005, -69.005 -11.004, -69.004 ...>,
 <MULTIPOLYGON (((-68.899 -9.126, -68.897 -9.126, -68.897 -9.127, -68.897 -9....>,
 <MULTIPOLYGON (((-69.93 -8.319, -69.928 -8.319, -69.928 -8.32, -69.927 -8.32...>,
 <MULTIPOLYGON (((-71.861 -8.704, -71.861 -8.704, -71.861 -8.705, -71.861 -8....>,
 <MULTIPOLYGON (((-72.438 -7.877, -72.437 -7.877, -72.437 -7.877, -72.436 -7....>,
 <MULTIPOLYGON (((-70.509 -8.353, -70.509 -8.351, -70.509 -8.351, -70.511 -8....>,
 <MULTIPOLYGON (((-68.43 -10.39, -68.429 -10.39, -68.429 -10.39, -68.429 -10....>]
Length: 10, dtype: geometry

Column 'layer_source' has 5 unique values: ['accumulated_deforestation_2007' 'hydrography' 'yearly_deforestation'
 'no_forest' 'residual']

Column 'sub_class' has 18 unique values: [nan 'corte raso com solo exposto' 'corte raso com vegeta√ß√£o'
 'desmatamento por degrada√ß√£o progressiva' 'd2014' 'd2016' 'd2018' 'd2013'
 'd2011' 'd2017']

Column 'index_right' has 8580 unique values: [82435 82432 82433 82434 82357 14638 14639 14640 14608 14609]

Column 'source_url' has 14 unique values: ['https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972311/GEDI02_A_2024361025954_O34201_01_T05889_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972298/GEDI02_A_2024338120144_O33850_01_T08123_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972308/GEDI02_A_2024357043746_O34140_01_T03701_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972299/GEDI02_A_2024339233650_O33873_04_T01536_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972312/GEDI02_A_2024362143452_O34224_04_T00725_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972307/GEDI02_A_2024354175045_O34102_04_T03617_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972296/GEDI02_A_2024336011402_O33812_04_T08039_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972304/GEDI02_A_2024349075522_O34018_01_T09286_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972302/GEDI02_A_2024346084606_O33972_01_T09347_02_004_02_V002_subsetted.h5'
 'https://harmony.earthdata.nasa.gov/service-results/harmony-prod-staging/public/26215715-f9d2-4291-a6a6-4ed604da3482/120972313/GEDI02_A_2024365012159_O34262_01_T06501_02_004_02_V002_subsetted.h5']

Column 'beam' has 4 unique values: ['BEAM1011' 'BEAM1000' 'BEAM0110' 'BEAM0101']

Column 'shot_number' has 8580 unique values: [342011100100051592 342011100100051572 342011100100051573
 342011100100051574 342010800100053050 338501100100052592
 338501100100052593 338501100100052594 338501100100052547
 338501100100052548]

Column 'latitude' has 8580 unique values: [-9.65713185 -9.66549487 -9.66507685 -9.66466088 -9.66060387 -9.00508184
 -9.00466766 -9.00424903 -9.02392813 -9.02350764]

Column 'longitude' has 8580 unique values: [-68.27747754 -68.28360327 -68.28329702 -68.28299138 -68.28700501
 -68.87469184 -68.8743892  -68.87408444 -68.88840805 -68.88810125]

Column 'rh25' has 1160 unique values: [-0.89 -0.03 -0.63 -1.38  0.29  7.74 -0.86  6.66  7.41  7.52]

Column 'rh50' has 1787 unique values: [ 0.07  0.52  1.97  0.82  0.11  5.42 13.99  1.04 18.37 18.15]

Column 'rh75' has 2302 unique values: [ 1.08  2.24  4.48  2.5   1.6  10.66 20.92 12.87 27.99 25.33]

Column 'rh95' has 2751 unique values: [ 9.26  4.66  6.98  4.78  4.07 14.7  25.82 23.54 35.74 28.96]

Column 'sensitivity' has 8551 unique values: [0.945687   0.93352574 0.81890076 0.8900639  0.9589615  0.9705829
 0.97606766 0.9359936  0.9604853  0.9662288 ]

Column 'solar_elevation' has 8508 unique values: [-52.19088  -52.180305 -52.180832 -52.18136  -52.183113  29.875801
  29.875969  29.876135  29.868301  29.86847 ]